specification/logic/resource-manager/Microsoft.Logic/stable/2019-05-01/examples/WorkflowDrafts_CreateOrUpdate.json
{
  "parameters": {
    "api-version": "2019-05-01",
    "subscriptionId": "34adfa4f-cedf-4dc0-ba29-b6d1a69ab345",
    "resourceGroupName": "test-resource-group",
    "workflowName": "test-workflow",
    "draftName": "new-feature-draft",
    "draft": {
      "properties": {
        "state": "Enabled",
        "integrationAccount": {
          "id": "/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/test-resource-group/providers/Microsoft.Logic/integrationAccounts/test-integration-account"
        },
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "greeting": {
              "type": "string",
              "defaultValue": "Hello World"
            }
          },
          "triggers": {
            "manual": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "actions": {
            "Compose": {
              "type": "Compose",
              "inputs": "@concat(parameters('greeting'), ' - ', triggerBody()?['message'])",
              "runAfter": {}
            },
            "Response": {
              "type": "Response",
              "inputs": {
                "statusCode": 200,
                "headers": {
                  "Content-Type": "application/json"
                },
                "body": {
                  "result": "@outputs('Compose')",
                  "timestamp": "@utcnow()"
                }
              },
              "runAfter": {
                "Compose": [
                  "Succeeded"
                ]
              }
            }
          },
          "outputs": {}
        },
        "parameters": {
          "greeting": {
            "value": "Welcome to the new feature"
          }
        }
      },
      "location": "brazilsouth",
      "tags": {
        "purpose": "new-feature",
        "environment": "development",
        "version": "draft"
      }
    }
  },
  "responses": {
    "200": {
      "body": {
        "properties": {
          "provisioningState": "Succeeded",
          "createdTime": "2025-12-23T12:00:00.0000000Z",
          "changedTime": "2025-12-23T12:00:00.0000000Z",
          "state": "Enabled",
          "version": "08586677515911718342",
          "accessEndpoint": "https://test-workflow-draft.azurewebsites.net:443/api/new-feature-draft/triggers/manual/invoke",
          "integrationAccount": {
            "name": "test-integration-account",
            "id": "/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/test-resource-group/providers/Microsoft.Logic/integrationAccounts/test-integration-account",
            "type": "Microsoft.Logic/integrationAccounts"
          },
          "definition": {
            "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
            "contentVersion": "1.0.0.0",
            "parameters": {
              "greeting": {
                "type": "string",
                "defaultValue": "Hello World"
              }
            },
            "triggers": {
              "manual": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            },
            "actions": {
              "Compose": {
                "type": "Compose",
                "inputs": "@concat(parameters('greeting'), ' - ', triggerBody()?['message'])",
                "runAfter": {}
              },
              "Response": {
                "type": "Response",
                "inputs": {
                  "statusCode": 200,
                  "headers": {
                    "Content-Type": "application/json"
                  },
                  "body": {
                    "result": "@outputs('Compose')",
                    "timestamp": "@utcnow()"
                  }
                },
                "runAfter": {
                  "Compose": [
                    "Succeeded"
                  ]
                }
              }
            },
            "outputs": {}
          },
          "parameters": {
            "greeting": {
              "value": "Welcome to the new feature"
            }
          },
          "endpointsConfiguration": {
            "workflow": {
              "outgoingIpAddresses": [
                {
                  "address": "13.84.159.168"
                },
                {
                  "address": "13.65.86.56"
                },
                {
                  "address": "13.65.82.190"
                }
              ],
              "accessEndpointIpAddresses": [
                {
                  "address": "104.210.153.89"
                },
                {
                  "address": "13.85.79.155"
                },
                {
                  "address": "13.65.39.247"
                }
              ]
            },
            "connector": {
              "outgoingIpAddresses": [
                {
                  "address": "40.84.145.61"
                }
              ]
            }
          }
        },
        "id": "/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/test-resource-group/providers/Microsoft.Logic/workflows/test-workflow/drafts/new-feature-draft",
        "name": "new-feature-draft",
        "type": "Microsoft.Logic/workflows/drafts",
        "location": "brazilsouth",
        "tags": {
          "purpose": "new-feature",
          "environment": "development",
          "version": "draft"
        }
      }
    },
    "201": {
      "body": {
        "properties": {
          "provisioningState": "Succeeded",
          "createdTime": "2025-12-23T12:00:00.0000000Z",
          "changedTime": "2025-12-23T12:00:00.0000000Z",
          "state": "Enabled",
          "version": "08586677515911718342",
          "accessEndpoint": "https://test-workflow-draft.azurewebsites.net:443/api/new-feature-draft/triggers/manual/invoke",
          "integrationAccount": {
            "name": "test-integration-account",
            "id": "/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/test-resource-group/providers/Microsoft.Logic/integrationAccounts/test-integration-account",
            "type": "Microsoft.Logic/integrationAccounts"
          },
          "definition": {
            "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
            "contentVersion": "1.0.0.0",
            "parameters": {
              "greeting": {
                "type": "string",
                "defaultValue": "Hello World"
              }
            },
            "triggers": {
              "manual": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "message": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            },
            "actions": {
              "Compose": {
                "type": "Compose",
                "inputs": "@concat(parameters('greeting'), ' - ', triggerBody()?['message'])",
                "runAfter": {}
              },
              "Response": {
                "type": "Response",
                "inputs": {
                  "statusCode": 200,
                  "headers": {
                    "Content-Type": "application/json"
                  },
                  "body": {
                    "result": "@outputs('Compose')",
                    "timestamp": "@utcnow()"
                  }
                },
                "runAfter": {
                  "Compose": [
                    "Succeeded"
                  ]
                }
              }
            },
            "outputs": {}
          },
          "parameters": {
            "greeting": {
              "value": "Welcome to the new feature"
            }
          },
          "endpointsConfiguration": {
            "workflow": {
              "outgoingIpAddresses": [
                {
                  "address": "13.84.159.168"
                },
                {
                  "address": "13.65.86.56"
                },
                {
                  "address": "13.65.82.190"
                }
              ],
              "accessEndpointIpAddresses": [
                {
                  "address": "104.210.153.89"
                },
                {
                  "address": "13.85.79.155"
                },
                {
                  "address": "13.65.39.247"
                }
              ]
            },
            "connector": {
              "outgoingIpAddresses": [
                {
                  "address": "40.84.145.61"
                }
              ]
            }
          }
        },
        "id": "/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/test-resource-group/providers/Microsoft.Logic/workflows/test-workflow/drafts/new-feature-draft",
        "name": "new-feature-draft",
        "type": "Microsoft.Logic/workflows/drafts",
        "location": "brazilsouth",
        "tags": {
          "purpose": "new-feature",
          "environment": "development",
          "version": "draft"
        }
      }
    }
  }
}