specification/purview/data-plane/Azure.Analytics.Purview.Workflow/preview/2022-05-01-preview/examples/CreateOrReplaceWorkflow.json
{
  "parameters": {
    "api-version": "2022-05-01-preview",
    "workflowId": "4afb5752-e47f-43a1-8ba7-c696bf8d2745",
    "workflowCreateOrUpdateCommand": {
      "name": "Create glossary term",
      "description": "",
      "triggers": [
        {
          "type": "when_term_creation_is_requested",
          "underGlossaryHierarchy": "/terms/847b8b5a-7aba-11ed-a1eb-0242ac120002"
        }
      ],
      "isEnabled": true,
      "actionDag": {
        "actions": {
          "Start and wait for an approval": {
            "type": "Approval",
            "inputs": {
              "parameters": {
                "approvalType": "PendingOnAll",
                "title": "Approval Request for Create Glossary Term",
                "assignedTo": [
                  "4fda19f7-1a35-4bae-ab0b-7f4f080930b0"
                ]
              }
            },
            "runAfter": {}
          },
          "Condition": {
            "type": "If",
            "expression": {
              "and": [
                {
                  "equals": [
                    "@outputs('Start and wait for an approval')['body/outcome']",
                    "Approved"
                  ]
                }
              ]
            },
            "actions": {
              "Create glossary term": {
                "type": "CreateTerm",
                "runAfter": {}
              },
              "Send email notification": {
                "type": "EmailNotification",
                "inputs": {
                  "parameters": {
                    "emailSubject": "Glossary Term Create - APPROVED",
                    "emailMessage": "Your request for Glossary Term @{triggerBody()['request']['term']['name']} is approved.",
                    "emailRecipients": [
                      "@{triggerBody()['request']['requestor']}"
                    ]
                  }
                },
                "runAfter": {
                  "Create glossary term": [
                    "Succeeded"
                  ]
                }
              }
            },
            "else": {
              "actions": {
                "Send reject email notification": {
                  "type": "EmailNotification",
                  "inputs": {
                    "parameters": {
                      "emailSubject": "Glossary Term Create - REJECTED",
                      "emailMessage": "Your request for Glossary Term @{triggerBody()['request']['term']['name']} is rejected.",
                      "emailRecipients": [
                        "@{triggerBody()['request']['requestor']}"
                      ]
                    }
                  },
                  "runAfter": {}
                }
              }
            },
            "runAfter": {
              "Start and wait for an approval": [
                "Succeeded"
              ]
            }
          }
        }
      }
    }
  },
  "responses": {
    "200": {
      "body": {
        "id": "4afb5752-e47f-43a1-8ba7-c696bf8d2745",
        "triggers": [
          {
            "type": "when_term_creation_is_requested",
            "underGlossaryHierarchy": "/terms/847b8b5a-7aba-11ed-a1eb-0242ac120002"
          }
        ],
        "createdTime": "2022-05-30T08:35:49.690711398Z",
        "createdBy": "d95bd15c-fbc9-46a8-b02b-83e80262ffc9",
        "lastUpdateTime": "2022-05-30T08:35:49.690711398Z",
        "updatedBy": "d95bd15c-fbc9-46a8-b02b-83e80262ffc9",
        "name": "Create glossary term",
        "isEnabled": true,
        "actionDag": {
          "actions": {
            "Start and wait for an approval": {
              "type": "Approval",
              "inputs": {
                "parameters": {
                  "approvalType": "PendingOnAll",
                  "title": "Approval Request for Create Glossary Term",
                  "assignedTo": [
                    "4fda19f7-1a35-4bae-ab0b-7f4f080930b0"
                  ]
                }
              },
              "runAfter": {}
            },
            "Condition": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@outputs('Start and wait for an approval')['body/outcome']",
                      "Approved"
                    ]
                  }
                ]
              },
              "actions": {
                "Create glossary term": {
                  "type": "CreateTerm",
                  "runAfter": {}
                },
                "Send email notification": {
                  "type": "EmailNotification",
                  "inputs": {
                    "parameters": {
                      "emailSubject": "Glossary Term Create - APPROVED",
                      "emailMessage": "Your request for Glossary Term @{triggerBody()['request']['term']['name']} is approved.",
                      "emailRecipients": [
                        "@{triggerBody()['request']['requestor']}"
                      ]
                    }
                  },
                  "runAfter": {
                    "Create glossary term": [
                      "Succeeded"
                    ]
                  }
                }
              },
              "else": {
                "actions": {
                  "Send reject email notification": {
                    "type": "EmailNotification",
                    "inputs": {
                      "parameters": {
                        "emailSubject": "Glossary Term Create - REJECTED",
                        "emailMessage": "Your request for Glossary Term @{triggerBody()['request']['term']['name']} is rejected.",
                        "emailRecipients": [
                          "@{triggerBody()['request']['requestor']}"
                        ]
                      }
                    },
                    "runAfter": {}
                  }
                }
              },
              "runAfter": {
                "Start and wait for an approval": [
                  "Succeeded"
                ]
              }
            }
          }
        },
        "description": ""
      }
    }
  }
}
