specification/purview/data-plane/Azure.Analytics.Purview.Workflow/preview/2022-05-01-preview/examples/GetWorkflow.json
{
  "parameters": {
    "workflowId": "d503b2d2-84da-4a85-9e85-6e82e39d59a0",
    "api-version": "2022-05-01-preview"
  },
  "responses": {
    "200": {
      "body": {
        "id": "80803081-7486-402f-b187-ca994e4e4098",
        "triggers": [
          {
            "type": "when_term_update_is_requested"
          }
        ],
        "createdTime": "2022-12-19T08:38:20.666858562Z",
        "createdBy": "eece94d9-0619-4669-bb8a-d6ecec5220bc",
        "lastUpdateTime": "2022-12-19T08:38:20.666858562Z",
        "updatedBy": "eece94d9-0619-4669-bb8a-d6ecec5220bc",
        "name": "Update glossary term",
        "isEnabled": true,
        "description": "",
        "actionDAG": {
          "actions": {
            "Start and wait for an approval": {
              "type": "Approval",
              "inputs": {
                "parameters": {
                  "approvalType": "PendingOnAll",
                  "title": "Approval Request for Update Glossary Term",
                  "assignedTo": [
                    "eece94d9-0619-4669-bb8a-d6ecec5220bc"
                  ]
                }
              },
              "runAfter": {}
            },
            "Condition": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@outputs('Start and wait for an approval')['body/outcome']",
                      "Approved"
                    ]
                  }
                ]
              },
              "actions": {
                "Update glossary term": {
                  "type": "UpdateTerm",
                  "runAfter": {}
                },
                "Send email notification": {
                  "type": "EmailNotification",
                  "inputs": {
                    "parameters": {
                      "emailSubject": "Glossary Term Update - APPROVED",
                      "emailMessage": "Your request for Glossary Term @{triggerBody()['request']['term']['name']} is approved.",
                      "emailRecipients": [
                        "@{triggerBody()['request']['requestor']}"
                      ]
                    }
                  },
                  "runAfter": {
                    "Update glossary term": [
                      "Succeeded"
                    ]
                  },
                  "runtimeConfiguration": {
                    "secureInput": false,
                    "secureOutput": false
                  }
                }
              },
              "else": {
                "actions": {
                  "Send reject email notification": {
                    "type": "EmailNotification",
                    "inputs": {
                      "parameters": {
                        "emailSubject": "Glossary Term Update - REJECTED",
                        "emailMessage": "Your request for Glossary Term @{triggerBody()['request']['term']['name']} is rejected.",
                        "emailRecipients": [
                          "@{triggerBody()['request']['requestor']}"
                        ]
                      }
                    },
                    "runAfter": {},
                    "runtimeConfiguration": {
                      "secureInput": false,
                      "secureOutput": false
                    }
                  }
                }
              },
              "runAfter": {
                "Start and wait for an approval": [
                  "Succeeded"
                ]
              }
            }
          }
        }
      }
    }
  }
}
