specification/purview/data-plane/Azure.Analytics.Purview.Workflow/preview/2022-05-01-preview/examples/GetWorkflow.json
{
  "parameters": {
    "workflowId": "d503b2d2-84da-4a85-9e85-6e82e39d59a0",
    "api-version": "2022-05-01-preview"
  },
  "responses": {
    "200": {
      "body": {
        "id": "773b326e-751c-4277-96a6-c4f522e9750f",
        "triggers": [
          {
            "type": "when_term_creation_is_requested"
          }
        ],
        "createdTime": "2023-01-11T10:14:45.485999448Z",
        "createdBy": "eece94d9-0619-4669-bb8a-d6ecec5220bc",
        "lastUpdateTime": "2023-01-11T10:14:45.485999448Z",
        "updatedBy": "eece94d9-0619-4669-bb8a-d6ecec5220bc",
        "name": "Create glossary term",
        "isEnabled": true,
        "description": "",
        "actionDag": {
          "actions": {
            "Start and wait for an approval": {
              "type": "Approval",
              "inputs": {
                "parameters": {
                  "approvalType": "PendingOnAll",
                  "title": "Approval Request for Create Glossary Term",
                  "assignedTo": [
                    "eece94d9-0619-4669-bb8a-d6ecec5220bc"
                  ]
                }
              },
              "runAfter": {}
            },
            "Condition": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@outputs('Start and wait for an approval')['body/outcome']",
                      "Approved"
                    ]
                  }
                ]
              },
              "actions": {
                "Create glossary term": {
                  "type": "CreateTerm",
                  "runAfter": {}
                },
                "Send email notification": {
                  "type": "EmailNotification",
                  "inputs": {
                    "parameters": {
                      "emailSubject": "Glossary Term Create - APPROVED",
                      "emailMessage": "Your request for Glossary Term @{triggerBody()['request']['term']['name']} is approved.",
                      "emailRecipients": [
                        "@{triggerBody()['request']['requestor']}"
                      ]
                    }
                  },
                  "runAfter": {
                    "Create glossary term": [
                      "Succeeded"
                    ]
                  },
                  "runtimeConfiguration": {
                    "secureInput": false,
                    "secureOutput": false
                  }
                }
              },
              "else": {
                "actions": {
                  "Send reject email notification": {
                    "type": "EmailNotification",
                    "inputs": {
                      "parameters": {
                        "emailSubject": "Glossary Term Create - REJECTED",
                        "emailMessage": "Your request for Glossary Term @{triggerBody()['request']['term']['name']} is rejected.",
                        "emailRecipients": [
                          "@{triggerBody()['request']['requestor']}"
                        ]
                      }
                    },
                    "runAfter": {},
                    "runtimeConfiguration": {
                      "secureInput": false,
                      "secureOutput": false
                    }
                  }
                }
              },
              "runAfter": {
                "Start and wait for an approval": [
                  "Succeeded"
                ]
              }
            }
          }
        }
      }
    }
  }
}
