specification/purview/data-plane/Azure.Analytics.Purview.Workflow/preview/2022-05-01-preview/examples/WorkflowDefinition_Get.json
{
  "parameters": {
    "workflowDefinitionId": "d503b2d2-84da-4a85-9e85-6e82e39d59a0",
    "x-ms-client-request-id": "1e903f7e-f127-11ec-8ea0-0242ac120002",
    "api-version": "2022-05-01-preview"
  },
  "responses": {
    "200": {
      "body": {
        "id": "839da7e6-04c7-44f0-b5e1-35d38c191caa",
        "scenarioType": "UpdateTerm",
        "boundScopes": [
          {
            "type": "PathReference",
            "referenceSource": "Catalog",
            "referenceName": "/catalog/api/atlas/v2/glossary/04dc91ea-c4d4-4d31-a212-e3ff5cae4feb"
          }
        ],
        "createdTime": "2022-05-17T10:38:42.94785031Z",
        "createdBy": "2ae95d14-4553-4a36-9b58-89d24e2689e8",
        "lastUpdateTime": "2022-05-17T10:38:42.94785031Z",
        "updatedBy": "2ae95d14-4553-4a36-9b58-89d24e2689e8",
        "workflowName": "Update-18384220220517",
        "isEnabled": true,
        "definition": {
          "triggers": {
            "When a glossary term is updated": {
              "type": "GlossaryTermTrigger"
            }
          },
          "actions": {
            "Start and wait for an approval": {
              "type": "Approval",
              "inputs": {
                "parameters": {
                  "approvalType": "PendingOnAll",
                  "title": "Approval Request for Update Glossary Term",
                  "assignedTo": [
                    "814b401a-abe2-49bf-a98a-36953746a611",
                    "8040312c-edef-4ed3-80ed-7712804c9aa2"
                  ]
                }
              },
              "runAfter": {}
            },
            "Condition": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@outputs('Start and wait for an approval')['body/outcome']",
                      "Approved"
                    ]
                  }
                ]
              },
              "actions": {
                "Update glossary term": {
                  "type": "UpdateTerm",
                  "runAfter": {}
                }
              },
              "else": {
                "actions": {}
              },
              "runAfter": {
                "Start and wait for an approval": [
                  "Succeeded"
                ]
              }
            }
          }
        },
        "description": "This workflow definition used for updating glossary term."
      }
    }
  }
}
